<div class="container">
  <h1>お客様一覧</h1>
  <div class="row justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>お客様ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
    </table>
    <tbody>
      <% @customer.each do |customer| %>
    </tbody>
  </div>
</div>