<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center mb-5 mt-5 w-25", style="background-color:#d3d3d3;">注文履歴詳細</h3>
      <table class='table-borderles h-50'>
        <tr>
          <th>購入者</th>
          <td>購入者の名前</td>
        </tr>
        <tr>
          <th>注文日</th>
          <td></td>
        </tr>
        <tr>
          <th>現場名</th>
          <td>宮城県富谷市<br>佐藤様邸</td>
        </tr>
      </table>
      <table class='table mt-5 w-50'>
        <thead style="background-color:#d3d3d3;">
          <tr>
            <th>商品名</th>
            <th>価格</th>
            <th>注文個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tbody>
      </table>
      <table class='table-borderles float-right w-25'>
        <tr>
          <th>商品合計</th>
          <td>1,000円</td>
        </tr>
        <tr>
          <th>請求合計金額</th>
          <td>1,000円</td>
        </tr>
      </table>
    </div>
  </div>
</div>