<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center mb-5 mt-5 w-25", style="background-color:#d3d3d3;">注文履歴一覧</h3>
      
      <table class='table'>
        <thead style="background-color:#d3d3d3;">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
          </tr>
        </thead>
        <tbody>
          <th></th>
          <th></th>
          <th></th>
        </tbody>
      </table>
    </div>
  </div>
</div>